Download Dataset From Kaggle

In [2]:
!kaggle datasets list -s Iris

ref                                                                 title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
datasets/uciml/iris                                                 Iris Species                                        4KB  2016-09-27 07:38:05         266503       2916  0.7941176
datasets/arshid/iris-flower-dataset                                 Iris Flower Dataset                               1010B  2018-03-22 15:18:06          49238        430  0.8235294
datasets/vikrishnan/iris-dataset                                    Iris Dataset                                       999B  2017-08-03 16:00:44           3619         28  0.7647059
datasets/therohk/ireland-historical-news                            Irish Times - Waxy-Wany News                       52MB  2021-09-25 10:52:48           3034        158  1.0
datasets/chuckyin/iris-datasets                                     Iris datasets                                       1KB  2017-03-10 09:35:43           2023         16  0.7352941
datasets/parulpandey/palmer-archipelago-antarctica-penguin-data     Palmer Archipelago (Antarctica) penguin data       11KB  2020-06-09 10:14:54          18928        164  0.9705882
datasets/rtatman/iris-dataset-json-version                          Iris Dataset (JSON Version)                         1KB  2018-04-06 20:21:31           6847         50  0.75
datasets/jillanisofttech/iris-dataset-uci                           Iris dataset uci                                    1KB  2021-11-06 15:11:47            101         19  1.0
datasets/fleanend/birds-songs-numeric-dataset                       Birds' Songs Numeric Dataset                       25MB  2019-04-01 09:09:46            889         26  0.9411765
datasets/conorrot/irish-weather-hourly-data                         Irish Weather (hourly data)                        67MB  2020-06-29 20:15:18           2047         42  0.8235294
datasets/saurabh00007/iriscsv                                       Iris.csv                                            1KB  2017-11-09 07:34:35          22802         67  0.4117647
datasets/jeffheaton/iris-computer-vision                            Iris Computer Vision                                5MB  2020-11-24 21:23:29            437         13  0.875
datasets/kamrankausar/iris-data                                     iris_data                                           1KB  2017-11-30 10:26:01           1200         14  0.64705884
datasets/styven/iris-dataset                                        Iris dataset                                        1KB  2017-11-04 14:10:12            823          8  0.29411766
datasets/arslanali4343/iris-species                                 Iris Species                                        2KB  2020-07-02 06:09:09             83         13  0.5625
datasets/olgabelitskaya/flower-color-images                         Flower Color Images                                50MB  2020-10-01 22:48:07           9500        170  0.75
datasets/naureenmohammad/mmu-iris-dataset                           MMU iris dataset                                   30MB  2020-07-25 18:38:33            975         27  0.5625
datasets/ashkhagan/palmer-penguins-datasetalternative-iris-dataset  Palmer Penguins Dataset-Alternative Iris Dataset    3KB  2020-06-30 06:30:43            482         12  0.8235294
datasets/shantanuss/iris-flower-dataset                             IRIS flower dataset                                 1KB  2020-01-18 19:43:18            239          3  0.9411765
datasets/jodx666/iris-is                                            IRIS is                                            981B  2018-02-16 09:11:35            344          6  0.3125

In [3]:
!kaggle datasets download shantanuss/iris-flower-dataset --unzip

Downloading iris-flower-dataset.zip to C:\Users\acer\jupyter_notebook\other

  0%|          | 0.00/1.31k [00:00<?, ?B/s]
100%|##########| 1.31k/1.31k [00:00<00:00, 672kB/s]

Import Needed Module

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder

Show First 5 Data

In [5]:
bunga ='Iris_flower_dataset.csv'
flower_data = pd.read_csv(bunga)
flower_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Show Data Info

In [9]:
flower_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

Label Encoder

In [25]:
X = flower_data.iloc[:, 1:-1].values
y = flower_data.iloc[:, -1].values
# le = LabelEncoder()
# y = le.fit_transform(y)
print(y[:5])
print()
print(X[:5])

['Iris-setosa' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa']

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

Split Train And Test Data

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5, random_state = 0)

Naive Bayes Classification

In [52]:
gnb = GaussianNB()
gnb_model = gnb.fit(X_train, y_train)
y_pred = gnb_model.predict(X_train)

In [60]:
x = 0
wrong_class = 0
while x < len(y_test):
    if y_pred[x] != y_test[x]:
        wrong_class += 1
    x += 1
data_validation_accuracy = (wrong_class/len(X_test))*100
print("From {} test data, {} data was mislabeled.".format(len(X_test), wrong_class))
print("Data Validation Accuracy : {}%".format(data_validation_accuracy))
# print(y_pred)
# print("-"*5)
# print(y_test)

From 75 test data, 50 data was mislabeled.
Data Validation Accuracy : 66.66666666666666%